.booking {
    background-color: var(--white);
    padding: 1.6rem;
    border-radius: .8rem;
    color: var(--medium-grey);
}

.booking p:not(:first-child):not(:last-child) {
    margin: .8rem 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.header .time {
    margin-bottom: 0;
}

.busy {
    display: flex;
    align-items: center;
}

.busy::before {
    display: block;
    width: .8rem;
    height: .8rem;
    background-color: var(--red);
    border-radius: 50%;
    margin-right: .8rem;
    content: "";
}

.user {
    color: var(--main);
    font-size: 1.4rem;
    font-weight: 600;
}