.resource {
    margin-bottom: 3.2rem;
}

.form {
    display: inline-flex;
    flex-direction: column;
}

.formLine {
    margin: .8rem 0;
}

.label {
    display: inline-block;
    width: 10rem;
    margin-right: .8rem;
}

.btnLine {
    align-self: flex-end;
}