.header {
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    background-color: var(--dark-grey);
}

.title {
    margin: 0;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

@media (prefers-color-scheme: light) {
    .user {
        color: var(--white);
    }
}