@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

:root {
    --main: rgb(32, 157, 224);
    --green: rgb(102, 204, 50);
    --yellow: rgb(255, 204, 50);
    --red: rgb(255, 1, 0);
    --dark-grey: rgb(27, 38, 52);
    --medium-grey: rgb(36, 51, 64);
    --light-grey: rgb(58, 73, 86);
    --neutral-grey: rgb(153, 153, 153);
    --white: rgb(249, 249, 249);

    --header-height: 6rem;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;

    color-scheme: light dark;
    color: var(--white);
    background-color: var(--medium-grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

a {
    color: var(--white);
    text-decoration: inherit;
    transition: color 200ms ease;
}

a:hover {
    color: rgba(249, 249, 249, 0.7);
}

b,
strong {
    font-weight: 600;
}

i,
em {
    font-style: italic;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* global utility "highlight" style */
.highlight {
    color: var(--main);
}

/* input styles */
.input {
    min-width: 0;
    box-sizing: border-box;
    padding: .4rem .8rem;
    background-color: var(--white);
    border: 0 none;
    border-radius: .4rem;
    color: var(--medium-grey);
    font-size: 1.6rem;
    transition: outline .2s ease;
}

.input[type="number"] {
    width: 5.6rem;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
   opacity: 1;
}

.input:focus-visible {
    outline: solid .2rem var(--main);
}

/* button styles */
/* primary btn */
.btn {
    display: inline-block;
    padding: .4rem 1.6rem;
    border: 0 none;
    border-radius: .4rem;
    background-color: rgba(32, 157, 224, .5);
    color: var(--white);
    font-weight: 600;
    transition: all .2s ease;
}

.btn:hover {
    background-color: rgba(32, 157, 224, .4);
}

.btn:focus-visible {
    background-color: rgba(32, 157, 224, .4);
    outline: solid .2rem var(--main);
}

.btn:active {
    background-color: rgba(32, 157, 224, .5);
}

.btn:disabled {
    background-color: rgba(32, 157, 224, .1);
}

/* "warning" btn */
.btn.warning {
    background-color: rgba(255, 1, 0, .9);
}

.btn.warning:hover {
    background-color: rgba(255, 1, 0, .8);
}

.btn.warning:focus-visible {
    background-color: rgba(255, 1, 0, .8);
    outline: solid .2rem var(--main);
}

.btn.warning:active {
    background-color: rgba(255, 1, 0, .9);
}

.btn.warning:disabled {
    background-color: rgba(255, 1, 0, .1);
}

/* light mode styles */
@media (prefers-color-scheme: light) {
    :root {
        color: var(--medium-grey);
        background-color: var(--white);
    }

    .input {
        background-color: rgba(153, 153, 153, .25);
    }

    a:hover {
        color: rgba(36, 51, 64, 0.9);
    }

    .btn {
        background-color: rgb(32, 157, 224, .9);
    }
    
    .btn:hover {
        background-color: rgba(32, 157, 224, .8);
    }
    
    .btn:focus-visible {
        background-color: rgba(32, 157, 224, .8);
    }
    
    .btn:active {
        background-color: rgba(32, 157, 224, .9);
    }
    
    .btn:disabled {
        background-color: rgba(32, 157, 224, .1);
    }
}
