@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

:root {
    --main: #209de0;
    --green: #66cc32;
    --yellow: #ffcc32;
    --red: #ff0100;
    --dark-grey: #1b2634;
    --medium-grey: #243340;
    --light-grey: #3a4956;
    --neutral-grey: #999;
    --white: #f9f9f9;

    --header-height: 6rem;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;

    color-scheme: light dark;
    color: var(--white);
    background-color: var(--medium-grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

a {
    color: var(--white);
    text-decoration: inherit;
    transition: color 200ms ease;
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
}

b,
strong {
    font-weight: 600;
}

i,
em {
    font-style: italic;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.highlight {
    color: var(--main);
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--medium-grey);
        background-color: var(--white);
    }
    a:hover {
        color: rgba(36, 51, 64, 0.9);
    }
}
